<!DOCTYPE html>
<html>

    <head>
        <title>Charity Poker</title>
        <link href="site.css" rel="stylesheet">
    </head>
    <body>
    <nav id="nav01"></nav>
    <div id="main">
        <div class="login-card">
		<h1>Login</h1>
			<form action="/" method="POST">
				<input type="text" name="user" placeholder="Username">
				<input type="password" name="pass" placeholder="Password">
				<input type="submit" name="login" value="Login">
			</form>
	   </div>    
    </div>
	
    <script src="script.js"></script>
    </body>
</html>